*{
    margin: 0px;
    padding: 0px;
}
body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #050505;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
    padding: 0%;
}
header {
    background-color: white;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    padding-right: 0px;
    margin-right: 0px;
    border-bottom: 10px solid #FFC40A;
}
footer {
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    flex-shrink: 0;
}
a {
    text-decoration: none;
    color: #050505;
}
h1{
    padding: 0%;
    margin: 0%;
}
.generacija-titl{
    text-align: center;
    color: white;
}
#container {
    position: relative;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
.casopis{
    float:right; position: relative;
    bottom: 2px;
    background-color: #050505;
    border: 1px solid  #050505;
    color: #FFC40A;
    width: 15vw;
    padding: 2px;
    text-align: center;
    margin: 1vw;
}
.casopis:hover{
    cursor: pointer;
    color: #050505;
    background-color: #FFC40A;
    border: 1px solid #f19e67;
}
.prezentacija {
    width: 31vw;
    line-height: 15vh;
    font-size: 40px;
    display: inline-block;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    padding-right: 0px;
    margin-right: 0px;
    margin: 1vw;
}
.prezentacija:hover{
    background-color: #F8DE7E;
    outline: 4px solid #FFC40A;
    box-sizing: border-box;
    color: #679BF1;
}

@media (min-width: 1921px){
    .prezentacija:hover{
        outline: 10px solid #d88507;
    }
}

@media (max-width: 1600px) {
    .casopis{
        width: 15vw;
    }
}
@media (max-width: 1200px) {
    .casopis{
        width: 18vw;
    }
}
@media (max-width: 1100px){
    .prezentacija{
        font-size: 30px;
    }
}

@media (max-width: 1000px) {
    .casopis{
        width: 22vw;
    }
}
@media (max-width: 820px) {
    header {
        font-size: 10px;
    }
    .casopis{
        width: 20vw;
        margin-right: 2.5vw;
    }
    .prezentacija {
        width:95%;
        margin-right: 2.5vw;
        margin-left: 2.5vw;
        font-size: 30px;
      }
  }
@media (max-width: 460px){
    header {
        font-size: 10px;
    }
    .casopis{
        width: 20vw;
        margin-right: 20px;
    }
    .prez-link{
        display: flex;
        width: 90%;
        margin: 20px auto;
    }
    .prezentacija {
        width: 100%;
        font-size: 30px;
      }
  }
  @media (max-width: 400px){
    h1{
        font-size: 16px;
    }

}
@media (max-width: 280px){
    .prezentacija{
        font-size: 20px;
    }
}

