*{
    margin: 0px;
    padding: 0px;
}
body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: black;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
    padding: 0%;
}
header {
    background-color: white;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    padding-right: 0px;
    margin-right: 0px;
    border-bottom: 10px solid #d88507;
}
footer {
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    flex-shrink: 0;
}
a {
    text-decoration: none;
    color: black;
}
h1{
    padding: 0%;
    margin: 0%;
}

#container {
    position: relative;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
  }
.prezentacija {
    width: 31vw;
    line-height: 15vh;
    font-size: 40px;
    display: inline-block;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    padding-right: 0px;
    margin-right: 0px;
    margin: 1vw;
    
}
.prezentacija:hover{
    background-color: #c4c4c4;
    outline: 4px solid #d88507;
    box-sizing: border-box;
    color: white;
}
@media (max-width: 800px) {
    header {
        font-size: 10px;
    }
  }
@media (max-width: 800px) {
    .prezentacija {
      width:90%;
      margin: 20px;
      font-size: 30px;
    }
  }
@media (max-width: 1100px){
    .prezentacija{
        font-size: 30px;
    }
}
@media (min-width: 1921px){
    .prezentacija:hover{
        outline: 10px solid #d88507;
    }
}
main {
    width: auto;  
}
